
body{

    background-color: #2a3950;
}

.r_intro{
    background-color: #41436a;
   
}

.r_intro_image{
    background-color: #41436a;
    padding-top: 50px;
    padding-bottom: 30px;
}

h1{
    font-family: 'Titan One', cursive;
    color: white;
    font-size: 5rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

h2{
    font-family: 'Titan One', cursive;
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.foodimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    
}

p{
    color: white;
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;

}


.form_p {
    text-align: center;
    color: white;
    width: auto;
    margin: auto;
}


.instructions{
    font-size: medium;
    font-family: 'Courgette', cursive;
}

.top{
    padding-top: 25px;
}

.end{
    padding-bottom: 25px;
}

.buttonblock{
    display: block;
    margin: auto;
    height: 80px;
    width: 150px;
    font-weight: bold;
    font-size: large;
    border-radius: 0;
    margin-bottom: 15px;
    margin-top: 10px;
}

.go_button{
    background-color: #ff9677;
    border-color: #ff9677;
}

.btn-success:hover{
    background-color:#41436a;
    border-color:#41436a;
}

.btn-success:focus{
    background-color:#41436a;
    border-color:#41436a;
}


.reset_button{
    background-color: #974063;
    border-color: #974063;
}

.btn-danger:hover{
    background-color:#41436a;
    border-color: #41436a;
}

.btn-danger:focus{
    background-color:#41436a;
    border-color: #41436a;
}

.stub{
    font-size:x-small;
    padding-top:25px;
    padding-bottom:10px;
}


.r_yourportion{
  
    padding-top: 10px;
    background-color: #974063;
}

.r_buttons{

    background-color: #41436a;
}

.p_modal {
    color: black;
    text-align: center;
    font-size: x-large;
}

a:link {
    color:#ff9677;
}

a:visited{
    color:#ff9677;
}